*{
  padding: 0px;
  margin: 0px;
}

body{
  background: #606c88;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 346px;
  height: 216px;
}
@media (min-width: 700px) and (max-width: 800px) {
  img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 25%;
    width: 446px;
    height: 316px;
  }
}