html{
    overflow-y: hidden;
}
body {
    margin: 0;
    background: #edc0bf;
    background: linear-gradient(90deg, #edc0bf 0,#c4caef 58%);
    font-family: 'Inter', sans-serif;
  }
.card {
    top: 40px;
    left: auto;
    width: auto;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;

    /* other styles */
	background: rgba(255, 255, 255, 0.562);
	-webkit-backdrop-filter: blur();
	backdrop-filter: blur(1px);
  }
.card-title {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    text-align: center;
  }
  
p{
    font-size: 1rem;
    text-align: center;
  }
.shape {
    position: absolute;
    width: 150px;
    top: 4rem;
    left: .5rem;
  }