.block{
    color: rgb(163, 23, 23);
    background: #edc0bf;
    background: linear-gradient(90deg, #edc0bf 0,#c4caef 58%);
    padding: 5%;
}
.full-page{
    height: 100vh;
}
.man{
    position: absolute;
    height: 350px ;
    width: 300px;
    left: 30px;
    top: 190px;
}
h1{
    text-align: center;
    font-family: 'Lobster', cursive;
}